<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zk.notes">

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!-- Device begin -->
    <!-- 屏幕保持唤醒 不锁屏  plus.device.setWakelock();plus.device.isWakelock(); -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动 权限 plus.device.vibrate(); -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 拨打电话 plus.device.dail(); -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问网络状态 plus.networkinfo.* -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写手机状态和身份 plus.devices.* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".player.MediaPlayerActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivity"
            android:label="SlidingPaneLayout"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityOne"
            android:label="SlidingPaneLayout" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityTwo"
            android:label="SlidingPaneLayout" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityThree"
            android:label="SlidingPaneLayout"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivity"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityOne"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityTwo"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityThree"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityFour"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityFive"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivitySix"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivitySeven"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".keyboard.KeyboardActivity"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivity"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivityOne"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivityTwo"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivityThree"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivityFour"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".animation.AnimationActivityFive"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".nfc.NFCActivity"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <service
            android:name=".nfc.CardService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list" />
        </service>

        <activity
            android:name=".dialog.DialogPlusActiviry"
            android:theme="@style/DIY.SlideClose.Transparent.Theme"></activity>

        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name=".service.DemoIntentService"/>

    </application>

</manifest>