<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zk.notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".player.MediaPlayerActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivity"
            android:label="SlidingPaneLayout"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityOne"
            android:label="SlidingPaneLayout" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityTwo"
            android:label="SlidingPaneLayout" />
        <activity
            android:name=".slidingpanelayout.SlidingPaneLayoutActivityThree"
            android:label="SlidingPaneLayout"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivity"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityOne"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityTwo"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityThree"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityFour"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivityFive"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivitySix"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity
            android:name=".drawable.DrawableActivitySeven"
            android:label="Drawable"
            android:theme="@style/DIY.SlideClose.Transparent.Theme"></activity>
    </application>

</manifest>